
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    background: #00CEFF;

}

*{
    box-sizing: border-box;
}

h1 {
    font-size: 64px;
    font-weight: 800;
}

h2 {
    font-size: 48px;
    font-weight: 800;
}

h3 {
    font-size: 40px;
    font-weight: 500;
}

h4 {
    font-size: 32px;
    font-weight: 800;
}

h5 {
    font-size: 24px;
    font-weight: 800;
}

p {
    font-size: 1rem;
}

a:link{
    text-decoration: none;
}

.column-container{
    padding: 0 2em;
    max-width: 1400px;
    margin: 0 ;
}

.column-cardcontainer{
    flex-wrap: wrap;
    max-width: 90%;
}

nav.top-navbar{
    text-align: right;

}

nav.top-navbar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav.top-navbar ul li{
    display: inline-block;
    font-weight: 500;

}

nav.top-navbar ul li a{
    color: #ffffff;
    display: block;
    padding: 1.5em;
}

.hero {
    width: 100%;
    height: 50%;
    background: url(images/jrdnlpz-bckgrnd-red.jpg) ;
    padding-bottom: 2.5em;
}

.hero-content .site-title h3 {
    color: #ffffff;
    text-align: right;
    margin: 0;
}


.hero-content{
    text-align: end;
    display: flex;
    justify-content: end;
    margin-top: 12em;
    margin-right: 2.5em;
    color: #FFE884;
    flex-direction: column;
}

.hero-content h1{
    color: #FFF;
}

.hero-content-b{
    display: flex;
    justify-content: start;
    margin-top: 3em;
    margin-right: 2.5em;
}

.hero-content .hero-logo img{
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    margin-left: 3em;
}

.hero-logo{
    align-self: center;
}

.container {
    column-count: 4;
    column-gap: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffffff;
    padding: 4em 0;
}

.container-title {
    margin-bottom: 2em;
}

.container-title h2{
    color: #FF646E;
    text-shadow: 4px 4px 0 #FFE884;
    margin: 0;
}

.card {
    padding: .5em;
    flex-basis: 25%;
}

.card-container{
    box-shadow: 8px 8px 0 #00CEFF;
    border-radius: 8px;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.card-header {
    min-height: 120px;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background:url(images/jrdnlpz-bckgrnd-yel.jpg);
    padding: 1em;
}

.card-header h3 {
    font-size: 32px;
    font-weight: 800;
    color: #FF646E;
    margin: 0;
    margin-bottom: .2rem;
    line-height: 1.1em;
}

.card-header span {
    font-size: 13px;
    font-weight: 400;
    color: #424245;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.5em;
}

.card-body{
    padding: .2em 1em ;
    flex-grow: 1;
}

.card-body p{
    color: #424245
}

.card-button{
    display: block;
    background-color: #FF646E;
    color: #FFE884;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    padding: .3em 0;
    
}

.details-container{
    display: flex;
    justify-content: center;
}

.details-container h2{
    color:#FF646E;
    text-shadow: 4px 4px 0 #FFE884;
    max-width: 800px;
    line-height: 1.1em;
    margin: 0;
}

.details-container img{
    display: block;
}

.details-container .details-img{
    padding-top: 1em;
}

.details-container .details-h2{
    align-self: center;
    padding-left: 1.5em;
}

footer p{
    text-align: center;
    color: #ffffff;
}

.button-vermas{
    background-color: #FFE884;
    color: #FF646E;
    border: 4px solid #FF646E;
    font-weight: 800;
    font-size: 32px;
    display: block;
    width: 320px;
    max-width: 100%;
    margin-left: auto;
    text-align: center;
    margin-top: 3rem;
}

.post-title{
margin: 0;
}

.post-title h1{
    margin: 0;
    text-align: right;
    color: #FFE884;
}

.tags{

}

.tags, a{
    font-size: 1 rem;
    color: white;
    padding-right: 24px;
}

.post-title p{
    color: #ffffff;
    text-align: left;
}

.post-content{
    margin: auto;
    max-width: 85%;
    color:#FFE884;
}

.body-post{
    max-width: 100%;
    height: fit-content;
    padding: 40px;
    background-color: #FFE884;
}

.post-content h4{
    color: #424245;
}

.post-content h5{
    color: #FF646E;
}

.post-content p{
    color: #424245;
}

.post-content img{
    display: block;
    max-width: 100%;
}

.img-par{
    display: flex;
}

.img-post{
    width: 40%;
    height: auto;
    float: left;
    margin: 20px;
    margin-left: 0;
}

@media screen and (max-width: 1020px) {
    .card{
        flex-basis: 50%;
    }
}
@media screen and (max-width: 400px) {
    .card{
        flex-basis: 100%;
    }
    .details-container{
        flex-direction: column;
    }
    .hero-content .site-title  h1 {
        font-size: 38px;
    }
}